body{
    font-family: Verdana, Tahoma, sans-serif;
    background-color: white;
    font-size: 12px;
}

#content{
    margin-left: 30px;
    margin-top: 30px;
}

h1{
    font-weight: 500;
    font-size: 24px;
}

#pealeht, #lang_link{
    color: rgb(160,206,200);
    text-decoration: underline;
    cursor: pointer;
}

#language{
    float: right;
    margin-right: 10px;
}

#green_line, #green_line2{
    background-color: rgb(109,204,188);
    color: white;
    line-height: 24px;
    padding-left: 5px;
}

#green_line{ width: 420px; }

#green_line2{ width: 520px; }

#form, #form2{
    border: 2px solid rgb(109,204,188);
    margin-bottom: 10px;
    padding: 15px 20px;
}

#form{ width: 380px; }

#form2{ width: 480px; }

#vali_oppekava{
    width: 200px;
    margin-left: 85px;
}

#eap{
    margin-left: 156px; 
    margin-bottom: 15px;
}

#tasuta{
    margin-top: 30px;
    margin-right: 105px;
}

.input_jah{ 
    margin-right: 105px;
    margin-bottom: 10px;
}

#edasi, #tagasi, #kalkuleeri{
    background-color: rgb(109,204,188);
    color: white;
    border: rgb(109,204,188);
    padding: 5px 20px;
    margin-right: 10px;
    cursor: pointer;
}

#sem_arv{ margin-left: 247px; }

#ap_sem_arv{ margin-left: 135px; }

.info_input{ width: 50px; }

input{ margin-bottom: 10px; }

#rigikeel_text{ margin-top: -20px; }
