body{
    font-family: Verdana, Tahoma, sans-serif;
    background-color: white;
    font-size: 12px;
}

#content{
    margin-left: 30px;
    margin-top: 30px;
}

h1{
    font-weight: 500;
    font-size: 24px;
}


#pealeht, #lang_link{
    color: rgb(160,206,200);
    text-decoration: underline;
    cursor: pointer;
}

#language{
    float: right;
    margin-right: 10px;
}

#green_line{
    width: 420px;
    background-color: rgb(109,204,188);
    color: white;
    line-height: 24px;
    padding-left: 5px;
}

form{
    width: 380px;
    border: 2px solid rgb(109,204,188);
    margin-bottom: 10px;
    padding: 15px 20px;
}

#vali_oppekava{
    width: 200px;
    margin-left: 85px;
}

#tasuta{
    margin-top: 30px;
    margin-right: 105px;
}

#edasi{
    background-color: rgb(109,204,188);
    color: white;
    border: rgb(109,204,188);
    padding: 5px 30px;
    cursor: pointer;
}